@media screen and (max-width: 1128px){
   
  .promo_cards{
    display: block;
   }

   .promo_card{
    margin-bottom: 45px;
   }
}

@media screen and (max-width: 768px){
    .container_header {
    flex-direction: column;
    align-items: center;
  }

   .content_page .container_categories {
    flex-direction: column;
    align-items: center;
  }

  .left_side{
    text-align: left;
    width: 100%;
    
  }

  .up_background{
    flex-wrap: wrap;
  }

  .footer-bottom{
    flex-wrap: wrap;
  }


  .product_grid{
    justify-content: center;
    margin-left: 30px;
   }

   .left_side{
    margin-bottom: 20px;
   }

   .sorting_wrapper {
    padding-left: 38px;
   }

   .right_side_nav_left{
    margin-left: 45px;
  }

  .blog_header{
    margin-left: 50px;
  }

  .background{
  margin-left: 65px;
  } 

  .up_background{
    justify-content: center;
  }

  .content_background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright{
    margin-left: 60px;
  }

}

@media screen and (max-width: 555px){

.blog_cards{
  justify-content: center;
}

}

@media screen and (max-width: 440px){


  .container_header{
    margin-left: 30px;
  }

  .banner{
    margin-left: 30px;
  }

   header img{
    width: 100%;
   }

  .banner .main_container{
    display: block;
  }

  .blog_container.promo_cards{
    display: block;
   }

   


}

@media screen and (max-width: 375px){
  
}

@media screen and (max-width: 320px){
  
}
